<div><%= link_to "Leave Lobby", root_path %></div>

<div>Game ID: <strong><%= @game.id %></strong></div>
<div>Number of players: <strong id="number-of-players-in-lobby"><%= @game.players.count %></strong></div>
<div>Host: <strong id="host-username"><%= @game.host.username %></strong></div>
<br>

<div id="playerlist">
  <% @players_in_lobby.each do |player| %>
    <div id="user-<%= player.user.id%>">
      <div class="player-username"><strong><%= player.username %></strong></div>
      <span class="player-host"><%= player.host ? "host, " : ""%></span>
      <span class="player-role"><%= player.role %></span>
      <br><br>
    </div>
  <% end %>
</div>

<div id="change-role-button">
  <% if current_user.player_in_lobby.role == "player" %>
    <div>Change role to <%= link_to "<strong>Observer</strong>".html_safe, change_role_path(new_role: "observer"), remote: true, method: :post %></div>
  <% else %>
    <div>Change role to <%= link_to "<strong>Player</strong>".html_safe, change_role_path(new_role: "player"), remote: true, method: :post %></div>
  <% end %>
</div>

<script>
  console.log("here?");
    document.querySelector("#change-role-button > div > a").addEventListener("click", function() {
      console.log("called");
      if (this.firstElementChild.innerText == "Player") {
        this.href = this.href.replace("observer", "player");
        this.firstElementChild.innerText = "Observer";
        document.querySelector("#user-" + document.cookie[document.cookie.length - 1] + " > .player-role").innerText = "player";
      } else {
        this.href = this.href.replace("player", "observer");
        this.firstElementChild.innerText = "Player";
        document.querySelector("#user-" + document.cookie[document.cookie.length - 1] + " > .player-role").innerText = "observer";
      }
    });
</script>
