<div>
  <div><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </div>
  <div>Number of users online: <span id="total-number-of-users-online"><%= @total_number_of_users_online %></span></div>
  <br>
</div>

<div>
  <div><%= link_to "Create Game", create_game_path, method: :post %></div>
  <br>
</div>

<% @all_lobby_games.each do |game| %>
  <div id="lobby-<%= game.id %>">
    <div>Game ID: <strong><%= game.id %></strong></div>
    <div>Number of Players: <strong class="number-of-players-in-lobby"><%= game.players.count %></strong></div>
    <div>Host: <strong><%= game.host.username %></strong></div>
    <div><%= link_to "Join Game", game_lobby_path(game) %></div>
    <br>
  </div>
<% end %>